.movie-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 200px;
    height: 400px;
    border-radius: 10px;
    margin: 1em;
    text-align: center;
    justify-content: space-between;
    padding: 5px;
}

.movie-card:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.movie-card img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}