.movie-detail-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.movie-detail-poster-container {
    width: 50%;
    padding: 20px;
    background-color: #ccc;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-detail-information {
    text-align: center;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.movie-information-item {
    margin: .7em;
}

.movie-detail-go-back-button {
    width: 40px;
    height: 40px;
    z-index: 5;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 5%;
    left: 5%;
    cursor: pointer;
    box-shadow: 0px 1px 10px 6px grey;
    font-size: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-detail-poster-container img{
    height: 500px;
}