.movies-searchbar {
    width: 25em;
    height: 2.5em;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #ccc;
    box-shadow: 0px 2px 4px 4px #ccc;
    margin: 1em;
    margin-right: 2em;
    outline: none;
}

