.movies-main-container {
  background-color: #ccc;
  text-align: center;
}

.movies-main-recommendations-title, .movies-popular-title {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.movies-main-recommendations-title {
  margin-bottom: 1em;
}

.movies-popular-title {
  background-color: white;
  padding: 1em;
}


@font-face {
    font-family: 'icomoon';
    src:  url('assets/fonts/icomoon/icomoon.eot?eic26l');
    src:  url('assets/fonts/icomoon/icomoon.eot?eic26l#iefix') format('embedded-opentype'),
          url('assets/fonts/icomoon/icomoon.ttf?eic26l') format('truetype'),
          url('assets/fonts/icomoon/icomoon.woff?eic26l') format('woff'),
          url('assets/fonts/icomoon/icomoon.svg?eic26l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-star:before {
    content: "\e9d7";
  }